.jfx-button-save{
	
	-fx-background-color: #1976D2;
	-fx-text-fill: white;
}

.jfx-button-save:hover{
	
	-fx-background-color: #43A047;
}

.jfx-button-cancel{
	
	-fx-background-color: #1976D2;
	-fx-text-fill: white;
}

.jfx-button-cancel:hover{
	
	-fx-background-color: #d50000;
}

.table-column {
  -fx-alignment: CENTER;
}