
* {
	-fx-primary: #2A2E37;
	-fx-secondary: #FFFF8D;
	-fx-primarytext: #B2B2B2;
	-fx-red: #FF0000;
	-fx-blue: #1976D2;
}

.root {
	-fx-background-color: -fx-primary;
}

.glyph-icon{
	-fx-fill: -fx-primarytext;
}

.button{
	-fx-text-fill: -fx-primarytext;
	-fx-background-fill: -fx-primary;
	-fx-border-color: -fx-secondary;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-font-size: 13pt;
	-fx-unfocus-color: -fx-primarytext;
}
.button:hover{
	-fx-border-color: -fx-secondary;
	-fx-background-color: -fx-secondary;
	-fx-text-fill: -fx-primary;
}

/* To make the Text Field as the same color as the Login Buttons */
.jfxtext-field{
	-fx-text-fill: -fx-primarytext;
	-fx-font-size: 14pt;
	-jfx-focus-color: -fx-secondary;
	-jfx-unfocus-color: -fx-primarytext;
}

/* To work when the User enters some wrong credentials */
.wrong-credentials{
	-jfx-unfocus-color: -fx-red;
	-jfx-focus-color: -fx-red;
	-fx-font-size: 14pt;
}

/*
 * Dashboard CSS Area
 */
 
/* Tab Pane */
.tab{
	-fx-background-color: -fx-primary;
	-fx-pref-width: 350.0;
	-fx-pref-height: 60.0;
}

.tab-header-background{
	-fx-background-color: -fx-primary;
}

.menu-bar{
	-fx-base: -fx-primary;
	-fx-background-color: -fx-primary;
}

.context-menu{
	-fx-background-color: derive(-fx-primary, 20%);
}

/* Hamburger Menu */
.jfx-hamburger-icon{
	-fx-spacing: 7;
}

.jfx-hamburger-icon StackPane {
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 5px;
}

/* Toolbar Buttons */
.toolbar-button{
	-fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.toolbar-button:hover {
	-fx-background-color: -fx-secondary;
	-fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon {
	-fx-fill: -fx-primary;
}

/* Label Texts */
.main-text {
	-fx-fill: -fx-secondary;
	-fx-font-size: 14pt;
	-fx-text-alignment: center;
}

/* Information Boxes in the Renew/Submission tab on Dashboard */
.info-pane {
	-fx-background-color: derive(-fx-primary, 10%);
}

/* Dialog Box */
.dialog-button{
	-fx-background-color: -fx-blue;
	-fx-border-color: -fx-blue;
	-fx-text-fill: white;
}

.dialog-button:hover{
	-fx-background-color: -fx-primary;
	-fx-border-color: -fx-primary;
	-fx-text-fill: white;
}

.jfx-layout-actions{
	-fx-hgap: 10;
}






