.jfx-button-save{
	
	-fx-background-color: #1976D2;
	-fx-text-fill: white;
}

.jfx-button-save:hover{
	
	-fx-background-color: #43A047;
}

.jfx-button-cancel{
	
	-fx-background-color: #1976D2;
	-fx-text-fill: white;
}

.jfx-button-cancel:hover{
	
	-fx-background-color: #d50000;
}

.table-column {
 	-fx-alignment: CENTER;
}

.issue-button{
	-fx-background-color: #424242;
	-fx-text-fill: #FFFFFF;
}

.issue-button:hover{
	-fx-background-color: #0288D1;
	-fx-text-fill: #FFFFFF;
}

.main-hbox{
	-fx-background-color: #e7e7e7;
}
